# coding: utf-8

"""
OauthApi.py
Copyright 2015 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class OauthApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_token(self, grant_type, client_id, client_secret, **kwargs):
        """
        
        OAuth2 token endpoint

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_token(grant_type, client_id, client_secret, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str grant_type: Oauth2 grant type (required)
        :param str client_id: Application client ID (required)
        :param str client_secret: Application client secret (required)
        :param str scope: Scopes to use, separated by a space
        :param str username: User name if grant_type is password
        :param str password: User password if grant_type is password
        :param str code: Authorization code if grant_type is authorization_code
        :param str redirect_uri: Redirect URI if grant_type is authorization_code
        :param str refresh_token: Refresh token if grant_type is refresh_token
        :return: AccessToken
                 If the method is called asynchronously,
                 returns the request thread.
        """
        # verify the required parameter 'grant_type' is set
        if grant_type is None:
            raise ValueError("Missing the required parameter `grant_type` when calling `get_token`")
        # verify the required parameter 'client_id' is set
        if client_id is None:
            raise ValueError("Missing the required parameter `client_id` when calling `get_token`")
        # verify the required parameter 'client_secret' is set
        if client_secret is None:
            raise ValueError("Missing the required parameter `client_secret` when calling `get_token`")

        all_params = ['grant_type', 'client_id', 'client_secret', 'scope', 'username', 'password', 'code', 'redirect_uri', 'refresh_token']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_token" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/oauth2/token'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}
        if 'grant_type' in params:
            form_params['grant_type'] = params['grant_type']
        if 'client_id' in params:
            form_params['client_id'] = params['client_id']
        if 'client_secret' in params:
            form_params['client_secret'] = params['client_secret']
        if 'scope' in params:
            form_params['scope'] = params['scope']
        if 'username' in params:
            form_params['username'] = params['username']
        if 'password' in params:
            form_params['password'] = params['password']
        if 'code' in params:
            form_params['code'] = params['code']
        if 'redirect_uri' in params:
            form_params['redirect_uri'] = params['redirect_uri']
        if 'refresh_token' in params:
            form_params['refresh_token'] = params['refresh_token']

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='AccessToken',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
